body{
    background-image: url(montanhas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100%;
    font-size: xx-large;
    text-align: center;
    color: #000000;
    }
div{
    background-color: rgba(255, 255, 255, 0.826);
    border-radius: 30px;
    width: 500px;
    height: 600px;
    margin: auto;
    border-width: 2px;
}
input{
    font-style: italic;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    text-align: left;
    font-size: large;
    padding-left: 15px;
    background-color: #ffffff00;
    color: #000000;
    border-color: #000000;
}
button{
    font-style: italic;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    font-size: large;
    background-color: #010102;
    color: rgb(255, 255, 255);
    border: none;
}
.http{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.e{
    font-size: 50px;
    opacity: 0;
}
.a{
    font-size: 3px;
    opacity: 0;
}
.glow-on-hover {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 25px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #147500, #339715, #64a90f, #79a211, #a4a913, #80c413, #c47112, #ce7011, #147500);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius:25px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 25px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}